.nav li{
  display: inline;
  padding: 14px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold
}
.nav .translate{
  position: absolute;
  top: 12px;
  right: 10px;
}
.nav {
}
.jumbotron {
  background-image: url("img/IMG_5633 copy.JPG"); 
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  }
.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  }
.jumbotron2 {
  background-color: #F3F4EC;
  }
.hello {
  background-color: blue;
  height: 150px;
  width: 150px;
  display: inline-block;
  border-radius: 50 px
  }
.goodbye {
  background-color: red;
  height: 300px;
  width: 300px;
  border-radius: 100px;
  }
.explanation {
  background-color: #D0D050;
  }